{% extends "layout.html" %}

{% block title %}
    Post 3
{% endblock %}

{% block main %}

    <h2>How to Read a Book - by Mortimer Adler</h2>

    <h3>An appreciation for the great books</h3>

    <p>Adler’s classic expository, will make you appreciate the next book you read more than before. As an American psychologist, Adler originally released HTRB in 1940 in an effort to aid dwindling education standards in America. It was rewritten in 1972, to cover more broader types of written work including journals, advertising, news etc. Throughout the book Adler shows his appreciation for the great writers and how they try to impart knowledge onto their readers.

Adler begins by outlining his objective, to make us better readers and sets out definitively how he plans to achieve this. At the same time he expresses what we can expect from the book, and what he expects from us as active readers.

Notably he describes the relationship between reader and writer as a type of contract with certain rules each should abide to. In this way, it is important readers ‘come to terms’ with the author. That is quickly understanding the category the book fits into, as well as the terminology and expression of the author. This concept made me revisit my principles, for learning, writing and speaking, and how Adler’s methods could equally apply to these other skills.

The book is composed of 4 sections. The first section describes general dimensions of reading, the types (fiction and non-fiction), the levels, and distinguishes between the different purposes of reading. In this section he introduces the notion that there are 4 levels of reading, noting that advanced readers undertake all 4 levels of reading concurrently. The 4 level are reading are: 1. Elementary reading, 2. Inspectional reading, 3. Analytical reading, 4. Syntopical reading. He spends little time describing some levels, while diving deeply not other levels, namely: analytical and syntopical reading.

The second section focuses in depth on the analytical level of reading. The third section, discusses approaches to different kinds of reading matter, including poetry, mathematical texts, philosophy, love etc. While the final section explores syntopical reading.

Every reader will have their favourite sections, and sections more relevant to them. Having said that I encourage readers to at the very least, brush over all sections, which is in step with Adler’s teaching. This will help you assess your own reading strengths and deficiencies, guiding you to which parts maybe more useful or applicable to you. Evidently, it maybe the case, that you are all ready to aware or have through your own experiences made habit the practices Adler teaches, in this case you may get through the book quite quickly.

I have listed some of the notable recommendations Adler puts forward:
* Before diving into a book, conduct an inspectional read to get an idea what it’s about. This is where you analyse the front & back covers, the contents, and ‘about the author’ section. These will tell you a lot about the book.
* Read physical copies of books, own the book, and feel free to annotate the book to aid logical understanding and thought.
* Within a book, know which parts to read quickly and which to read slowly. These parts will be different for every reader.
* Understand how the writer is unravelling the story, identify the skeleton (or the core) and the flesh that is added to make it an interesting read.

Scattered with rich examples, from all the all-time favourite books, will keep readers engaged throughout. I get the feeling it helps if a reader has already attempted some of the great books before reading this one, otherwise the references to Shakespeare, Newton, Plato, and Darwin, Aristotle, Kant, Adam Smith. Fortunately, several of these are covered in most high school curriculums. It can be quite nostalgic reflecting back on some of the great books that have moved you over time, and shining new light on them.

I’m sure the book will have a lasting effect on me, making me rethink books I’ve read in the past, and books I plan to read in the future. I can’t help wishing I had picked this book up earlier.
    </p>


{% endblock %}