{% extends "layout.html" %}

{% block title %}
    Exercises
{% endblock %}

{% block main %}

    <h2>Exercises</h2>

    <ul>

       <li>
            exercise 1 (run and handstands)
           &nbsp&nbsp&nbsp
            <a href="http://kish.ai/static/exercise 1 default run handstands.pdf">long pdf</a>
           &nbsp&nbsp&nbsp
            <a href="http://kish.ai/static/exercise 1 short run handstands.pdf">short pdf</a>
        </li>
        <li>
            exercise 2 (run and handstands)
           &nbsp&nbsp&nbsp
            <a href="http://kish.ai/static/exercise 2 default run handstands.pdf">long pdf</a>
           &nbsp&nbsp&nbsp
            <a href="http://kish.ai/static/exercise 2 short run handstands.pdf">short pdf</a>
        </li>
        <li>
            exercise 3 (cables)
           &nbsp&nbsp&nbsp
            <a href="http://kish.ai/static/exercise 3 default cables.pdf">long pdf</a>
           &nbsp&nbsp&nbsp
            <a href="http://kish.ai/static/exercise 3 short cables.pdf">short pdf</a>
        </li>
        <li>
            exercise 4 (TRX)
           &nbsp&nbsp&nbsp
            <a href="http://kish.ai/static/exercise 4 default TRX.pdf">long pdf</a>
           &nbsp&nbsp&nbsp
            <a href="http://kish.ai/static/exercise 4 short TRX.pdf">short pdf</a>
        </li>
	<li>
	    <a href="http://kish.ai/static/Christmas 2018 Body Weight Program.pdf">Christmas 2018 Body Weight Program</a>
        </li>
	<li>
	    <a href="http://kish.ai/static/Legs and Abs Program.pdf">Legs and Abs Program</a>
	</li>
	<li>
            <a href="http://kish.ai/static/Self Myofascial Release Sheet.pdf">Self Myofascial Release Sheet</a>
        </li>

    </ul>

{% endblock %}
