{% extends "layout.html" %}

{% block title %}
    Exercises
{% endblock %}

{% block main %}

    <h2>Exercises</h2>

    <ul>

       <li>
            exercise 1 (run and handstands)
            &nbsp&nbsp&nbsp
            <a href="https://ssp-app.ca/clientside/80facdd6553ef192e2bf16897b2bb0cb3a7d836e8ca79dee4e626beec8f5da8009436adc37d91b882eb35d0a1594455ebf08b1a6587114ad96a250fe51630808">link</a>
           &nbsp&nbsp&nbsp
            <a href="http://kish.ai/static/exercise 1 default run handstands.pdf">long pdf</a>
           &nbsp&nbsp&nbsp
            <a href="http://kish.ai/static/exercise 1 short run handstands.pdf">short pdf</a>
        </li>
        <li>
            exercise 2 (run and handstands)
            &nbsp&nbsp&nbsp
            <a href="https://ssp-app.ca/clientside/772077142c910510bdd21c4c7ae36a960e27a4e5d267cf984329b1d0f12e12aa9af1953c0e4fae285638e73bada3ce943fe6178b9254d88a961e4024d3b42462">link</a>
           &nbsp&nbsp&nbsp
            <a href="http://kish.ai/static/exercise 2 default run handstands.pdf">long pdf</a>
           &nbsp&nbsp&nbsp
            <a href="http://kish.ai/static/exercise 2 short run handstands.pdf">short pdf</a>
        </li>
        <li>
            exercise 3 (cables)
            &nbsp&nbsp&nbsp
            <a href="https://ssp-app.ca/clientside/ad9c57718ba2531c8ff97603d12c3a6e3f025e9391fb805fecf7283e73f74be3c6fdbc3f1a7fab1792888f2ce3ddab2f87ed9e9241a56a2b753c459818ee3ed7">link</a>
           &nbsp&nbsp&nbsp
            <a href="http://kish.ai/static/exercise 3 default cables.pdf">long pdf</a>
           &nbsp&nbsp&nbsp
            <a href="http://kish.ai/static/exercise 3 short cables.pdf">short pdf</a>
        </li>
        <li>
            exercise 4 (TRX)
            &nbsp&nbsp&nbsp
            <a href="https://ssp-app.ca/clientside/445cbd40c35a97f97afe11519954019bf6d972ddaccb78e48f781e4fe46d05a09a3b766c19106decc3d1a06213ecfee79674b40f6575e4c587d8de479f746760">link</a>
           &nbsp&nbsp&nbsp
            <a href="http://kish.ai/static/exercise 4 default TRX.pdf">long pdf</a>
           &nbsp&nbsp&nbsp
            <a href="http://kish.ai/static/exercise 4 short TRX.pdf">short pdf</a>
        </li>

    </ul>

{% endblock %}