{% extends "layout.html" %}

{% block title %}
    Post 3
{% endblock %}

{% block main %}

    <h2>ML - Linear models and matplotlib</h2>

    <p>Linear models are one of the most basic ways to model/represent data, and are a good starting point for
        machine learning. The algorithms are simple and can be comprehended with a basic understanding of maths.
        LinearRegression fits a linear model with coefficients w = (w_1, ..., w_p) to minimise the
        residual sum of squares between the observed responses in the dataset, and the responses predicted by the
        linear approximation. This essentially produces a straight-line of best fit. Do not forget, linear regression
        can be multi-dimensional. <img src="http://scikit-learn.org/stable/_images/sphx_glr_plot_ols_001.png"
                                       alt="Basic Linear Regression Model">
    </p>
    <p>
        Linear regression can be easily implemented for simple data that may have a basic correlation in two
        dimensions, for example water usage by household size, house price data, and cancer predictions. To plot
        data, Matplotlib, is a convenient Python 2D plotting library.
    </p>

{% endblock %}