{% extends "layout.html" %}

{% block title %}
    Post 14
{% endblock %}

{% block main %}

    <h2>Visual Studio Code - Keyboard shortcuts</h2>
        <h3>Useful references</h3>
            <ul>
                <li>opt + shift + down arrow: copy line down</li>
                <li>opt + cmd + up/down arrow: editing multiple lines at the same time</li>
                <li>cmd + d (and d again): editing html start and end tags at the same time</li>
            </ul>
        <h3>Folding and unfolding code</h3>
            <ul>
                <li>all: cmd+k, cmd+j</li>
                <li>fold all: cmd+k,cmd+0</li>
                <li>fold level 1: cmd+k, cmd+1</li>
                <li>fold level 2: cmd+k, cmd+2</li>
                <li>fold level n: cmd+k, cmd+n</li>
            </ul>
{% endblock %}