{% extends "layout.html" %}

{% block title %}
    Books
{% endblock %}

{% block main %}

    <h1>
        my notes
    </h1>

    <h2>Man's Search for Meaning (Viktor E. Frankl)</h2>

    <p>- Highlight Loc. 132-33  </p>
    <p> Added on Monday, July 30, 2012, 11:34 AM</p>
    <p>Thus, when we saw a comrade smoking his own cigarettes,   we knew he had given up faith in his strength to carry  on, and, once lost, the will to live seldom returned.</p><br>

    <p>- Highlight Loc. 510-11  </p>
    <p> Added on Wednesday, August 01, 2012, 11:24 AM</p>
    <p>The attempt to develop a sense of humor and to see things in  a humorous light is some kind of a trick learned while mastering   the art of living.</p><br>

    <p>- Highlight Loc. 1087-90  </p>
    <p> Added on Tuesday, August 14, 2012, 07:09 PM</p>
    <p>Thus it can be seen that mental health is based on a certain   degree of tension, the tension between what one has already   achieved and what one still ought to accomplish, or the</p><br>

    <p>- Highlight Loc. 1090-92  </p>
    <p> Added on Tuesday, August 14, 2012, 07:11 PM</p>
    <p>I consider it a dangerous misconception   of mental hygiene to assume that what man needs  in the first place is equilibrium or, as it is called in biology,  "homeostasis," i.e., a tensionless state. What man actually  needs is not a tensionless state but rather the striving and  struggling for a worthwhile goal, a freely chosen task.</p><br>

    <p>- Highlight Loc. 1110-13  </p>
    <p> Added on Tuesday, August 14, 2012, 07:56 PM</p>
    <p>Let us consider, for instance, "Sunday neurosis," that kind  of depression which afflicts people who become aware of  the lack of content in their lives when the rush of the busy  week is over and the void within themselves becomes manifest.   Not a few cases of suicide can be traced back to this  existential vacuum. Such widespread phenomena as depression,   aggression and addiction are not understandable unless   we recognize the existential vacuum underlying them.  This is also true of the crises of pensioners and aging people.</p><br>

    <p>- Highlight Loc. 1247-53  </p>
    <p> Added on Thursday, August 16, 2012, 04:25 PM</p>
    <p>On the other hand, the person who  attacks the problems of life actively is like a man who removes  each successive leaf from his calendar and files it neatly and  carefully away with its predecessors, after first having jotted  down a few diary notes on the back. He can reflect with pride  and joy on all the richness set down in these notes, on all the  life he has already lived to the fullest. What will it matter to  him if he notices that he is growing old? Has he any reason to  envy the young people whom he sees, or wax nostalgic over  his own lost youth? What reasons has he to envy a young person?   For the possibilities that a young person has, the future   which is in store for him? "No, thank you," he will think.</p><br>

    <p>- Highlight Loc. 1279-80  </p>
    <p> Added on Thursday, August 16, 2012, 04:36 PM</p>
    <p>"The neurotic   who learns to laugh at himself may be on the way to  self-management, perhaps to cure.""</p><br>

    <p>- Highlight Loc. 1269-71  </p>
    <p> Added on Thursday, August 16, 2012, 04:43 PM</p>
    <p>Logotherapy bases its technique called "paradoxical intention"   on the twofold fact that fear brings about that which  one is afraid of, and that hyper-intention makes impossible  what one wishes. In German I described paradoxical intention   as early as 1939.10   In this approach the phobic patient is  invited to intend, even if only for a moment, precisely that  which he fears.</p><br>

    <p>- Highlight Loc. 1314-15  </p>
    <p> Added on Thursday, August 16, 2012, 04:47 PM</p>
    <p>As we see, anticipatory anxiety has to be counteracted  by paradoxical intention;</p><br>

{% endblock %}
