{% extends "layout.html" %}

{% block title %}
    Post 5
{% endblock %}

{% block main %}

<h2>Churchill: The Power of Words (2012) - by Martin Gilbert</h2>

<h3>‘His remarkable life recounted through his writings and speeches’</h3>

<p>Gilbert has put together a truly enjoyable combination of History and Literature in this collection of Churchill’s best works. The collection of works takes us on a wonderful journey through time. A journey across exotic and treacherous locations around the world, from the 1880s to the 1959. From his first writings as a schoolboy, to reports from the front lines of battle, and finally to his last speech addressing Parliament.</p>

<p>Churchill is a man with a mixed following, his actions and decisions have been thoroughly dissected and laid judgement upon. Among some he has attracted labels such as, ‘racist war criminal’, while on the other hand several voices have touted him as the greatest Brit of all time. Nevertheless, Churchill was a man of remarkable words and a man of serious influence. A combination of which had made his errors ever more important.</p>

<p>The book’s early collections describe his experiences in the frontline as an army officer and a reporter. His experiences begin in Cuba aged 20, followed by several stints in India. Shortly after he took part in forces against insurgencies in Sudan, and at 24 he encounters another near-escape from death in South Africa as a war correspondent for the Morning Post, to report on the second Anglo-Boer War. In the front line across three-savage wars (India, Sudan, South Africa), Churchill spends great amounts of time reading and trying to understand the perspectives of the enemy people, what drives them and what conversations they would be having amongst themselves. From these early writings, readers can begin to see how his thoughts and views of the world begin taking shape. It is these experiences that serve him well throughout his latter life in politics, giving his words great credibility and power. </p>

<p>Then the book begins to follow his political speeches, as in 1900 aged 25, he is first elected into parliament. These speeches form the majority of the collection in the book, with many of them during the great wars. Many crucial aspects of democracy are passionately covered in his speeches including labour markets, social reform for a fairer society, unemployment benefits, preparations for war, and war strategy.</p>

<p>Chronologically laid out, Gilbert has done an amazing job selecting and sequencing Churchill’s speeches and writing. Each piece is introduced with a few short paragraphs that provide context and aid the flow of the book. The 200 pieces are aptly titled, by a memorable quote from the corresponding piece. To ensure reader’s don’t get lost in time, each page is marked on the top right with Churchill’s age at the time, and the year on the top left. Another great feature of the book is the inclusion of a collection of 20 maps of different scale, throughout different points in time. These help map out his incredible journeys throughout the world whether it be his famous escape from the Boer’s, details of the Western Front in the World War’s, or his lecture tours around the United states.</p>

<p>Overall, the book is a challenging read, that requires focus and attention from readers. In particular from readers who may not have a solid grounding in geographical and political history and war manoeuvres. It will definitely stretch such readers minds, but they are well rewarded for the efforts. The fact that I picked this book up in the same month that marked 100 years from Armistice day and also during a time when democracy is being increasingly questioned and doubted, provided a great backdrop to help me get through this challenging read. </p>

<p>I began with the intention of only reading a few pieces in the collection here and there, but ended up reading each piece word for word, and even reading a couple out loud to feel the rhythm and tone. The book offers reader’s not only some enthralling death-defying stories, including Churchill losing control while flying a plane, dodging bullets on a railway track, to hiding out in an old mine-shaft to evade the enemy, but also a unique perspective on historical events that have shaped the current world. Churchill’s writing style and literature is admirable and often inspiring, it will no doubt influence the reader’s own personal writing style.</p>

<p>Additional Links:</p>
<ul>
    <li> A list of more notable highlights and extracts from the book (stay tuned)</li>
</ul>


{% endblock %}