{% extends "layout.html" %}

{% block title %}
    Post 3
{% endblock %}

{% block main %}

<h2>Zero to One, Peter Thiel, and Blake Masters</h2>
<h3>Notes on startups, or how to build the future</h3>
<div>&nbsp;</div>
<div>Zero to One, is a fun and informative read, with some gold nuggets for those looking to start their own business. Throughout the book, Thiel shares his experiences as a founder of PayPal, and also as an early-stage investor in other startups, including Facebook, SpaceX, Tesla. The book revolves around the idea that if you are copying something existing, you are taking the world from 1 to n, achieving only an incremental improvement. However by creating something new, we go from 0 to 1.</div>
<div>&nbsp;</div>
<div>Thiel, dares readers to focus on new areas of growth for business, rather than tried and tested industries. He spends a great deal of effort explaining the differences between the two, highlighting the competitive challenges of entering existing markets.&nbsp;He then focuses on technology products, drawing the conclusion that technology products are the only foreseeable way to avoid viscious competition, achieve scale of impact, and leave a mark on the world. Technology developments from 1985 to 2014 are used to describe significant trends in the technology industry, providing us interesting insight into how resources and capital were invested during this period.</div>
<div>&nbsp;</div>
<div>In the final chapters, a&nbsp;few plausible futures for mankind are explored both dystopian and eutopian. Thiel asserts that there are still many unsolved mysteries, or &lsquo;secrets&rsquo; to be solved, encouraging us not to shy away from action. That there are still many things that can be improved in this world. On the topic of artificial intelligence, he expresses that in the next few decades the role of machines will be to greatly compliment the strengths of humans, rather than to replace them.</div>
<div>&nbsp;</div>
<div>It&rsquo;s great how Thiel makes the book widely applicable and flexible in it&rsquo;s use by readers. He doesn&rsquo;t offer strict formulas for success, but instead shares patterns he&rsquo;s observed over the past few decades (covering the internet boom and the Dotcom bust).&nbsp;The book is not only about creating businesses but also about creating and defining futures, this is what makes it relevant, whether you are looking to start a business, considering investments, or simply curious about the direction of our global world.</div>
<div>&nbsp;</div>
<div>As a handbook, some of the timeless hints provided are:</div>
<ul>
<li>Monopolies are good for business.&nbsp;The 4 characteristics of monopolies are:</li>
<ul>
<li>Proprietary Technology - at least 10x better than closes substitute</li>
<li>Network effects</li>
<li>Economies of scale</li>
<li>Branding</li>
</ul>
<li>Recognize the importance of the founder and his traits.</li>
<li>Set the foundation stones carefully, they will have a huge bearing in the future - founding team, shares distribution, guiding principles.</li>
<li>Aim to create multi-fold technology improvements rather than incremental improvements, in order to achieve sustainable growth and profits.</li>
<li>Understand good sales strategy for IT products, this is termed as &lsquo;distribution&rsquo;.&nbsp;</li>
<li>The best salespeople don&rsquo;t sell.</li>
<li>Other topics for growing a business covered include&nbsp;company culture (including cult), salaries of CEOs, use of consultants, foundations of a company, and the role of venture capital.</li>
</ul>


{% endblock %}