{% extends "layout.html" %}

{% block title %}
    Post 3
{% endblock %}

{% block main %}

    <h2>What is if __name__ == '__main__' ?</h2>

    <p>Every module in Python has a special attribute called <code>__name__</code>.
    This attribute is set to <code>__main__</code> when the module is running as the main program.
    </p>

    <p>If you want to share your module or would like to import it into another program.
    You can use the attribute to ensure certain functions in the module do not run.
    this is achieved by adding the following conditional to the main program</p>

    <pre>if __name__ == '__main__':
        do something
    </pre>

{% endblock %}