{% extends "layout.html" %}

{% block title %}
    Post 3
{% endblock %}

{% block main %}

    <h2>Fundamental Machine Learning concepts</h2>

    <p>Machine learning is currently the most in demand skill set in the I.T. industry. Machine learning problems can
        generally be broken up into two categories:
    </p>
    <ol>
        <li>
            Supervised ML problems - Use <strong>features</strong> and <strong>labels</strong> associated with
            training data. Features are properties of training data, while labels are the output or descriptors given
            to the features.
        </li>
        <li>
            Unsupervised ML problems - use clustering.
        </li>
    </ol>
    <p>
        Sklearn is a very useful python package for ML, developed by Google. It contains 6 very useful tools used in
        ML problems:
    </p>
        <ul>
            <li>
                Classification - Tool for classifying learning data before apply ML.
            </li>
            <li>
                Regression - Tool for trend analysis, which can identify and learn the trend, to predict the next
                possible value. The accuracy of regression is dependent on the quantity of data, relevant features,
                and the choice of relevant features.
            </li>
            <li>
                Clustering - Automatic grouping of sets.
            </li>
            <li>
                Dimensionality reduction - Helps choose relevant features, for problems where there are many
                variables, and many features.
            </li>
            <li>
                Model selection - Helps choose the best model to use for a set of data.
            </li>
            <li>
                Preprocessing - Getting data in better shape for machine learning.
            </li>
        </ul>
    <p>
        You can find many useful datasets to play with on the internet. A popular repository is, <a
            href="http://archive.ics.uci.edu/ml/"> UCI Machine Learning Repository.</a> It also contains the 'Iris'
        dataset which is the 1st dataset often used to test ML algorithms. It is also one of the oldest datasets.
        It's simplicity makes it a good starting point.
    </p>
    <p>
        To use ML algorithms a large amount of work is involved in getting data ready to be processed. For example,
        Scikit learn is currently designed and optimised in a way such that it works with numbers and not strings.
        This is how it ensures it can run very quickly. Often, some time is required to manipulate and clean data so
        it is in format ready to be processed.
    </p>
    <p>
        Some good books recommended to me for ML include the following:
        <ul>
            <li>
                Pattern Recognition and Machine Learning, by Christopher Bishop. It uses slightly more difficult
                terminology.
            </li>
            <li>
                Data Mining: Concepts and Techniques, by Han and Kamber. Easier to read.
            </li>
            <li>
                Mining of Massive Datasets, by Leskovec, Rajaraman and Ullman. Chapter 7 has a great explanation of
                clustering.
            </li>
        </ul>
    </p>

{% endblock %}